# Source - https://stackoverflow.com/a
# Posted by scott_fakename, modified by community. See post 'Timeline' for change history
# Retrieved 2026-01-15, License - CC BY-SA 4.0

__pycache__
*.csv
.ipynb_checkpoints

